---
- name: Update apt cache (Ubuntu)
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"
  tags: update

- name: Update all packages
  package:
    name: "*"
    state: latest
  tags: update
